/********* initials setting  ********/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/******* SECTION GAME-ADVERT-1  ******/

.game-advert-1 {
  background-image: url(../img/jumbo-bg.png);
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/******* / SECTION GAME-ADVERT-1  ******/

/******* SECTION GAME-ADVERT-2  ******/

.game-advert-2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/******* / SECTION GAME-ADVERT-2  ******/

/********* TOOLS   **********/

.f-size-40px-rf {
  font-size: 40px;
}

.h-15px-rf {
  height: 15px;
}

.opacity-75-rf {
  opacity: 75%;
}

.h-50px-rf {
  height: 50px;
}

.h-75px-rf {
  height: 75px;
}

.h-125px-rf {
  height: 125px;
}

.h-90px-rf {
  height: 90px;
}

.rounded-1rem-rf {
  border-radius: 1rem;
}

.bg-black-rf {
  background-color: black;
}

.bg-orange-rf {
  background-color: #cd3d0f;
}

.bg-grey-rf {
  background-color: hsl(0deg 0% 12%);
}

.bg-light-grey-rf {
  background-color: hsl(20deg 2% 74%);
}

.bg-light-white-rf {
  background-color: hsl(220deg 4% 86%);
}

.bg-dark-blue-rf {
  background-color: hsl(230deg 46% 16%);
}

.bg-blue-rf {
  background-color: hsl(214deg 100% 31%);
}
.mt-120px-rf {
  margin-top: 120px;
}
/********* / TOOLS   **********/ ;
